audioop-lts==0.2.2
beautifulsoup4==4.14.3
certifi==2026.1.4
charset-normalizer==3.4.4
comtypes==1.4.15
idna==3.11
PyAudio==0.2.14
pyjokes==0.8.3
pypiwin32==223
pyttsx3==2.99
pywin32==311
requests==2.32.5
soupsieve==2.8.3
SpeechRecognition==3.14.5
standard-aifc==3.13.0
standard-chunk==3.13.0
typing_extensions==4.15.0
urllib3==2.6.3
wikipedia==1.4.0
